body{
    background-color: rgba(5, 116, 51, 0.952);
}
.container {
    padding: 80px 0px;
}

#search-input{
    padding: 15px;
}
#search-button{
    padding: 15px;
}
#meal img{
    width: 300px;
} 
#mealDetail img{
    margin-top: 30px;
    width: 300px;
}
#mealDetail {
    width: 300px;
}

